.orange-bg {
    background-color: #fceae8;
    border-radius: 6px;
    margin-top: 60px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #fe2f80;
}

.buynow {
    background-image: linear-gradient(to bottom, #FF5898, #FF136F 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    color: #fff;
    cursor: pointer;
}

.card1 {
    background-color: #ffa502;
    border-radius: 6px;
    padding: 10px 30px;
    margin-top: 60px;
    color: #fff;
}

.card2 {
    background-color: #0fe3c7;
    border-radius: 6px;
    padding: 10px 30px;
    margin-top: 60px;
    color: #fff;
}

.card3 {
    background-color: #860df0;
    border-radius: 6px;
    padding: 10px 30px;
    margin-top: 60px;
    color: #fff;
}

.categories img {
    width: 100px;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}

.footer-email {
    margin-top: 60px;
    background-color: #fceae8;
    border-radius: 6px;
    height: 300px;
}

input {
    height: 40px;
    border-radius: 6px;
    border-color: antiquewhite;
}